<!--<div>
<form action="//www-creators.com/rsc/receiver.php" method="post">
  <label class="label" for="message">質問を投稿する</label>
  <textarea rows="4" id="message" placeholder="20文字以内で入力してください。" name="comment"></textarea>
  <input type="submit">
</form>
<style>
label, input[type=text]{
 display:block;
}
</style>
</div>
-->

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>投票は利用できません</p>
{% endif %}
